[2014-08-28 21:53] ghost opened #1 "Missing projects"
Looking at your gradle files, you are referencing projects that don't exist. Most likely you added the "app" folder (here "secrecy") to git, not the project root folder.

[2014-08-29 04:27] #1 closed, assigned to nobody

[2014-10-01 11:18] L-Henke opened #2 "AES ECB encryption"
Why are you using the most insecure AES mode? This should be replaced at least with CBC or another mode!

[2014-10-01 11:26] L-Henke opened #3 "AES key derivation algorithm"
You just use the first 32 byte of the user password to generate your AES encryption key. Thats not how you get an AES key from a passphrase! You should use a key streching algorithm like PBKDF2 to generate the key from the passphrase.

[2014-10-01 11:33] L-Henke opened #4 "Use a (random) AES key for file encryption."
If you encrypt each file with a (random) AES key and use the AES key generated from the passphrase to just to encrypt this AES key and add this as a file header, you would be able to change the passphrase for a vault and just re-encrypt the file headers instead of the complete files.

[2014-10-01 11:38] L-Henke opened #5 "Out of memory error on Oneplus One"
After browsing a few pics using the internal gallery function, I get the error message: "Out of memory! Seems like your device does not have enough power to house that much info. Please try again."

If this happens on one of the most powerful smart phones, I guess the error is not the missing power, but the memory management of this app.

[2014-10-01 11:46] L-Henke opened #6 "Remove hardcoded key from Vault.java"
Even if the hard coded key "0123784" in line 54 is never actually used, you should remove this because it might confuse people.

[2014-10-01 17:17] L-Henke opened #7 "ImageLoadJobEvent occure often after screen rotation"
For every screen rotation, the ImageLoadJobEvents occurs one more times. This eats a lot of memory. (1 Rotation = 2 Events, 2 rotations = 3 Events, ...) This happens to all following events.

Changing the log output in FilePhotoFragment reveals this issue:
public void onEventMainThread(ImageLoadJob.ImageLoadDoneEvent event) {
        Util.log("Recieving imageview and bm for " + event.mNum);

[2014-10-03 08:49] #6 closed, assigned to nobody

[2014-10-03 15:01] #7 closed, assigned to nobody

[2014-10-15 08:12] Doplgangr opened #9 "Rename vault to same name results in deletion"
Little bug report:
- create vault
- enter vault, add files 
- go back to vault list
- notice tip about renaming vaults
- try it, rename, press check button
- app asks password, type it
- get "wrong password" error even if password was correct
- vault has disappeared

Seems to be consistent, tried 3 times with same result. Happens also with no files in vault.

---

Works if the vault was actually r

[2014-10-15 08:14] Doplgangr opened #10 "Add ability to write encrypted text files"
Hello, 
(sorry in advance I'm French and didn't have much vocabulary), you have done a really good work, and you seam to like when thing are perfect, not just fine! I have a little suggestion for you, why didn't you add note writing? Like evernote I mean, or a "to do list" / idea list, but secure with your system. 
Personally, I'm entrepreneur / idea thinker, with a lot of high (for some :p) value

[2014-10-15 08:53] Doplgangr opened #11 "JUnit testing implementation recommended"
The project seems to be a bit messy, @L-Henke is there any need for enhancing the code structure?

[2014-10-15 09:47] #9 closed, assigned to nobody

[2014-10-16 01:44] IngCr3at1on opened #12 "Crash when trying to set stealth mode PW"
Right so I clicked on the stealth mode option just to see what would happen:
It gives a message saying that the settings won't take place until after the app is restarted and makes the Stealth Mode Password clickable.
Upon clicking the stealth mode password box the application crashes.
I tried relaunching the app to check again, it still crashes.
Tried enabling the service, killing the app entirel

[2014-10-16 05:49] kilrah opened #13 "Task oddity"
When secrecy is running, it strangely does not appear in the task switcher.
And when using the back button to exit, the next press after the main screen leads to a black screen.One more press is needed to exit.

Galaxy S5, 4.4.2

[2014-10-16 08:43] L-Henke opened #14 "Filename encryption"
Currently secrecy just obfuscates file names with base64. These should be also encrypted. I'll start implementing this soon in my branch: https://github.com/L-Henke/secrecy/tree/ImprovedEncryption

[2014-10-16 09:08] L-Henke opened #15 "Display security disclaimer dialog on first launch"
The Secrecy description should state an honest description of the (currently) expected security strength. Although it should be clear that is is an alpha version, we should state that no one should trust the encryption "with his life", but it should be secure enough to hide from nosy people.

I think it would be nice to admit this somewhere in the description. IMHO an open statement about the secu

[2014-10-16 17:45] ridl3y opened #16 "Release Thumbnails Suggestion"
It seems that when you have too many thumbnails, (Over a few hundred) the app crashes because it runs out of memory. Is there a way to "release" thumbnails when they are a few screens away? Any way to have 10/20/30 thumbnails loaded before and after the current visible screen? The further down you scroll, the more that get released on the top of the list. I hope something like this is possible.

[2014-10-17 05:34] #13 closed, assigned to nobody

[2014-10-17 06:20] #12 closed, assigned to Doplgangr

[2014-10-21 00:23] Doplgangr opened #17 "Lollipop sweetness？"
Should we upgrade to the latest 21 sdk, while it has just been officially released and feature stuff such as complete compatibility?

I am thinking that components such as cardview and recycleview may proove useful to us.

[2014-10-30 21:42] L-Henke opened #21 "Usage of _ classes and Prefs interface"
@Doplgangr can you explain me why you are sometimes using classes with underscores? (e.g. SettingsFragment_) Aren't these files compiled files? Is there a reason why these are used?

And I don't understand how and why you use the Prefs interface. You are using a put method which Android Studio cant resolve.

Both looks like you are using objects which are only available after compilation/at runtim

[2014-10-31 08:17] #21 closed, assigned to nobody

[2014-10-31 10:51] L-Henke opened #22 "Select all files button"
A select all button in the file list would be great.

[2014-10-31 10:55] L-Henke opened #23 "Cannot leave select files mode"
If your are selecting files and are not clicking the decrypt, share or delete button and simply deselect the file, the menu changes to the normal file list menu and you cant leave the file selection mode.

[2014-10-31 12:58] L-Henke opened #24 "Selectable folder to decrypt files to"
Choosing a folder where Secrecy stores decrypted files to would be nice.

[2014-10-31 15:27] #2 closed, assigned to nobody

[2014-10-31 15:29] #3 closed, assigned to nobody

[2014-10-31 15:29] #4 closed, assigned to nobody

[2014-10-31 15:29] #14 closed, assigned to L-Henke

[2014-11-02 10:04] #22 closed, assigned to nobody

[2014-11-02 12:09] #17 closed, assigned to nobody

[2014-11-04 11:34] L-Henke opened #38 "NPE when returning to Vault list"
Sometimes when returning from a Vault to the Vault list, this line creates a NullPointerException.

https://github.com/SecrecySupportTeam/secrecy/blob/master/app/src/main/java/com/doplgangr/secrecy/Views/VaultsListFragment.java#L117

 I haven't found out yet how to reliable trigger this bug.

[2014-11-04 12:58] L-Henke opened #39 "Remove Crashlytics?"
Do we really need Crashlytics? I think if we only need the internet permission for Crashlytics, we might remove this. Or do you really got valuable information from these reports? I think that it should be enough to debug the application with ADB.

[2014-11-04 13:08] L-Henke opened #40 "Doubled settings when returning from donation menu"
Every time when returning from the donation menu, all entries in the settings menu are added again.

[2014-11-05 14:15] L-Henke opened #45 "Show file import status in notification bar"
@Doplgangr you have created very nice notifications for the backup and restore jobs. The same would be really nice for file imports via the send to function.

[2014-11-05 16:06] Doplgangr opened #47 "Problems adding files under android 4.1.1"
Jellybeans are troublebeans. Anyone can reproduce this problem?

@L-Henke

11-05 16:03:40.542     972-1015/com.doplgangr.secrecy D/SecrecyLogs﹕ Adding file:  file:///mnt/sdcard/Download/06-03-2014-151911.wav
11-05 16:03:40.542     972-1015/com.doplgangr.secrecy D/SecrecyLogs﹕ Vault: adding file  file:///mnt/sdcard/Download/06-03-2014-151911.wav
11-05 16:03:40.542     972-1015/com.doplgangr.secrecy

[2014-11-06 01:10] #47 closed, assigned to nobody

[2014-11-07 03:59] Doplgangr opened #50 "Don't be "yet another" encryption app, shall we?"
As we are coming into shape as alpha build, many of the functionalities are basic. Thus we don't have a lot of innovation involved.

I was thinking that this does not really appeal to the audience, since this is just another encryption app. I am thinking that we can go creative and find new possibilities in this.

Some atypical features can be included, to make us really different. Any of you have

[2014-11-07 11:40] #45 closed, assigned to nobody

[2014-11-07 12:53] #23 closed, assigned to Doplgangr

[2014-11-07 12:57] L-Henke opened #52 "Crash when rotating phone in file list"
When rotating the phone in the file list, the app crashes with a null pointer exception at this line: https://github.com/SecrecySupportTeam/secrecy/blob/master/app/src/main/java/com/doplgangr/secrecy/Views/FilesListFragment.java#L222

Again is seems to be a null context like in #38

[2014-11-07 13:16] #38 closed, assigned to nobody

[2014-11-07 13:21] Doplgangr opened #54 "RecycleView Implementation"
Just keepign in mind that we still need to implement RecycleView before we can push the current changes.
Glory to the Android 5.0 support library.

Relates to #5  and #16

[2014-11-08 19:58] #40 closed, assigned to nobody

[2014-11-09 13:19] #5 closed, assigned to nobody

[2014-11-09 13:19] #16 closed, assigned to nobody

[2014-11-09 15:21] Doplgangr opened #58 "Missing File DecryptingFileDoneEvent"
This link causes not found:
import com.doplgangr.secrecy.Events.DecryptingFileDoneEvent;

@L-Henke

[2014-11-09 15:52] #58 closed, assigned to nobody

[2014-11-11 12:09] #54 closed, assigned to nobody

[2014-11-13 06:56] #52 closed, assigned to nobody

[2014-12-15 08:33] Graveen opened #76 "Secrecy and AndroidStudio compatibility"
Hello,

Since i have upgraded to AS1.0, i can't simply compile correctly Secrecy. I have some somehow cryptic errors, but in the end, the main problem is the setup seems to be really complex, with external links to maven, inconsistent build tools / sdk  between apps and so on.
I have managed some (ie, runProguard to be replaced with minifyEnabled), and i could expose the brand new errors i have cu

[2014-12-26 10:13] #39 closed, assigned to nobody

[2014-12-26 10:13] #76 closed, assigned to nobody

[2015-01-28 13:15] Graveen opened #82 "Secrecy not importable as is in Android Studio"
Hello all,

Can somebody fix Secrecy to make it usable with actual release of Android Studio (1.0.2) ?

Actually, simply importing and running claims "Defaut Activity not found" (into Edit Configuration dialog).
Also, in example, into SettingFragment.java:
import com.doplgangr.secrecy.CustomApp_;
is throwing "Cannot resolve symbol CustomApp_" and this is identical for a lot of classes.

I don't kn

[2015-01-28 13:32] L-Henke commented on #82
You just have to use Gradle to build.
View->Tool Windows->Gradle
All tasks->secrecy->build

[2015-01-28 14:13] L-Henke commented on #82
There seems to be another problem. Code generation from AndroidAnnotations somehow doesn't run. I really don't like the concept of AndroidAnnotations (generated code), although it eases the coding process.

[2015-01-28 14:44] Graveen commented on #82
What is AndroidAnnotations used for ?

I can't actually figure how i managed to compile my previous fork - but i have updated AndroidStudio since. I think we should make Secrecy importable easily, but i fear i had to use a bulldozer to make it compatible :(

Thank you if you can troubleshoot this :)

[2015-01-28 14:58] L-Henke commented on #82
AndroidAnnotations tries to ease the development process for an Android app by generating code from annotations (e.g. @AfterViews, @Prefs). It provides "shortcuts" for some of the most used methods in the Android lifecycle. (there is an example at their main page: http://androidannotations.org/). All the files that are ending with an underscore are generated by AndroidAnnotations. If the generatio

[2015-01-28 16:01] matthewkwan commented on #82
quite true.I initially tried to use android annotations because I was developing small scale project and don't want to keep things as simple as possible.Yet as the project grows there are more and more problems popping up. Essentially we cannot customize what happens inside those annotations and there were more than once where bugs relate to the way android annotations handle lifecycles.If asked I

[2015-01-28 16:22] L-Henke commented on #82
I guess we should try to remove it then. This is quite a lot of work, but I think further development can profit from it.

[2015-02-05 10:24] L-Henke opened #84 ""Problem setting up in-app billing. Please check your Play store""
laura almeida reported this issue in the XDA thread. @Doplgangr can this be fixed if we update the payme library to the current version?

[2015-02-05 10:24] L-Henke commented on #82
This should by fixed by @Doplgangr pull requests and #83.

[2015-02-05 10:46] L-Henke opened #85 "Excluding Secrecy from recently used apps doens't work in Android 5"
I discovered that in Android 5 (CM12) Secrecy isn't hidden from the recently used apps anymore. This means that the last viewed picture stays visible when leaving the app by the home button.

[2015-02-07 13:18] L-Henke opened #86 "Remove Secrecy_fDroid repo?"
Since we removed Crashlytics from the main repo, shouldn't we get rid or the Secrecy_fDroid
repo, since this has just been a version without Crashlytics? We could also push a new version to F-Droid.

[2015-02-07 14:32] Graveen commented on #86
Excellent idea !

[2015-02-08 22:00] #82 closed

[2015-02-08 22:21] L-Henke opened #89 "Integrate Travis CI"
FYI: I have activated Travis CI, which now automatically builds all pull requests. If we would have unit tests, Travis would also test them. (The build status is shown in every pull request and on the main page)

[2015-02-08 22:21] #89 closed

[2015-02-14 08:05] Doplgangr commented on #86
On it. I'll put the repo to depreciation.

[2015-02-14 08:08] Doplgangr commented on #86
Done.
Ref:
https://github.com/SecrecySupportTeam/Secrecy_fDroid_DEPRECIATED

[2015-02-14 08:08] #86 closed

[2015-02-14 08:15] Doplgangr commented on #85
Problem Reproduced.

This is probably due to the new function in android 5 where all apps (disregard open or not) will have their last state preserved in recents.

When I have a number of apps opened, (i.e. many apps in recents), secrecy is successfully hidden

When I clear all apps from recents (i.e. recents is empty) and open secrecy and minimize it, it is retained in recents.

If another app is

[2015-02-15 12:54] Doplgangr commented on #84
There is not enough information to diagnose this problem, but it is possible that In app purchase is not supported by the copy of play store he/she is holding, either due to versioning or the location he/she is in.

I have composed a branch with updated Payme. I just made a build and sent for testing.
https://github.com/Doplgangr/secrecy/tree/UpdateIABLibrary

[2015-02-15 14:06] #84 closed

[2015-02-15 22:39] L-Henke opened #91 "Any possibility to answer comments on Google Play"
Hey @Doplgangr, is there any way that other people than you are able to answer to comments on Google Play? There are often German comments with issues, which I would like to answer.

[2015-02-15 22:43] L-Henke opened #92 "Can't dismiss notifications in Android 5"
I just noticed that I can't dismiss the file added notification in Android 5 (CM12). They act like a permanent notification.

[2015-02-15 23:05] L-Henke opened #93 "File decryption fails when device is rotated during decryption"
Found in this Google Play comment: https://play.google.com/store/apps/details?id=com.doplgangr.secrecy&reviewId=Z3A6QU9xcFRPRnRiTmEtN0ItY2J6RTRRQ2dSVFdEMjQ2TlRkOFZKOUVQWDQ3ZHczaHZXS0xmUUFZQ1dPQzM1NWZoSDVrSWhFWmJBV256MERQelY3eFEzZWlJ

I can reproduce the problem.

[2015-02-15 23:08] L-Henke opened #94 "Cannot access external SD card in Android 5"
https://play.google.com/store/apps/details?id=com.doplgangr.secrecy&reviewId=Z3A6QU9xcFRPRTM1ZmFQM0pfME9RN0hqMHNfQkZOV0lrUVlSaXVJMzBkS0x0Y1NXelFNQmtZaHZJRDdzUlpXWTR3YWNNalRGRncyZ1RhOWs3SzR6UlFHZUNj

This guy reported, that he is unable to access his external SD card on his Galaxy S5 with Android 5. Since I don't have a device with an external SD card, I'll try to reproduce the problem in the emula

[2015-02-15 23:21] matthewkwan commented on #91
I think it is possible to add collaborators to maintain the account. I'll check and get back to you.

[2015-02-15 23:43] Doplgangr commented on #93
This could be due to that the decryption function is somehow bound inside an activity, and any configuration change in the activity can trigger a remodeling of the activity instance and kill the decryption. One possible way is to put it in a job and make it independent of the activity.

[2015-02-15 23:48] Doplgangr commented on #94
There has long been a problem dealing with SD cards owing to the extremely messy external sd system‎ from Samsung that has grown to be now device dependent.It is probably better to redo the external so discovery mechanism.

[2015-02-15 23:57] L-Henke commented on #94
I'll look if we can use the newly introduced intent ```ACTION_OPEN_DOCUMENT_TREE``` on Android 5 devices.

[2015-02-16 02:28] Doplgangr commented on #91
I have invited you as a collaborator on google play. You can do a various
of actions including replying to comments.

On Mon, Feb 16, 2015 at 7:21 AM, Matthew Kwan <notifications@github.com>
wrote:

[2015-02-16 12:08] L-Henke commented on #91
Thank you very much! Very useful! I can see some error reports with NullPointerExceptions. They occure when non-media files without thumbnails are deleted. That issue has been solved with https://github.com/SecrecySupportTeam/secrecy/commit/ebd55f7a54e9d42a66a113de229f672aa807e418. Maybe we should push a minor update soon.

[2015-02-16 13:03] L-Henke commented on #91
@Doplgangr I can only answer in your name unless I create a own developer account...

[2015-02-19 16:15] Doplgangr commented on #91
Yah that might be troublesome. You can actually append your signature if you like. It also makes the users easier to get back to you.

[2015-02-19 16:21] L-Henke commented on #91
Maybe I'll just create a developer account. Might become handy anyway.

[2015-02-22 13:10] L-Henke commented on #85
This seems to be a bug in Android 5. We can only prevent Android to take a screenshot of the app for the recent list, which has been done with: 1795fca3c1f0adf500a5abb8e1f7c9fa378023e1

[2015-02-22 13:10] #85 closed

[2015-02-22 13:26] L-Henke opened #105 "Enable premium features on F-Droid build"
Should we create an F-Droid branch were we enable the premium features? Many F-Droid users are not using the Google services and thus are unable to donate to enable the premium features. I'm doing the same for my own builds.

[2015-02-22 15:29] Graveen commented on #105
IIRC actually the premium features are the possibility to hide in dialer, right ?

For me it does not bring enough to be valuable as a premium feature (let's say, it's valuable, but a bit short at this time for a premium concept), so, except if this is financially interesting, let's not focus on this for now and push identical applications to many stores.

[2015-02-22 15:34] L-Henke commented on #105
Currently it's only the dialer.

 I wouldn't mind identical versions in all stores. The financial value does only @Doplgangr know, and thus it's his decision if he wants to switch from "donate to get premium" to "donate to support development".

I have no problem with some premium features in the play store version, but I would vote to at least disable them for F-Droid.

[2015-02-25 11:13] Doplgangr commented on #93
closed wth #103. View implementation is just unrelated minor problem.

[2015-02-25 11:13] #93 closed

[2015-02-25 11:13] #91 closed

[2015-03-13 19:50] laura-almieda opened #112 "Sort By Date Added"
Could you please add a new sorting option in which the files in the vault are sorted by the date added ?

[2015-03-14 00:42] L-Henke commented on #112
This would be an interesting option. But it is more complicated than it might sound, because we would have to modify our file header to include the date when this file has been added. So this touches the whole encryption layer and we would have to maintain two different header versions. (Which could be handled by the update manager). But changes like this have to be tested thoroughly so don't expe

[2015-03-14 10:26] laura-almieda commented on #112
It would be really helpful if you could implement that

[2015-03-14 12:58] StelianMorariu opened #115 "Minimum SDK version"
Could we consider increasing the minimum SDK version to 14/15 ?

![distribution](https://cloud.githubusercontent.com/assets/1908415/6651729/79eeb9a0-ca5a-11e4-9d7d-3fc62bf0d8f8.png)

[2015-03-14 12:58] L-Henke commented on #112
Sort by file type added with #114

[2015-03-14 13:00] L-Henke commented on #115
What would be the advantage for us?

[2015-03-14 13:05] StelianMorariu commented on #115
First thing is we could drop the PreferenceFragment library (if I'm not mistaken PreferneceFragment was added in api 11).

[2015-03-14 13:06] L-Henke commented on #115
Sounds reasonable. But wouldn't it be enough then to increase it to 11 and further increase it whenever needed?

[2015-03-14 13:09] StelianMorariu commented on #115
Of course, we could go with the minimum required.

[2015-03-14 13:19] L-Henke commented on #115
We only have 1,21% users with 2.3.3-2.3.7, but why lock out more than necessary.

[2015-03-14 13:30] StelianMorariu commented on #115
Well, api 12 & 13 refer to Honeycomb (which, if you remember, was available only for tablets) and 14  is the very first Ice Cream Sandwich (4.0.0)which got upgraded really quick to  4.03 (api 15).

Also, taking a look at some code from the MainActivity, the method to get the back stack entry name was only added in api 14.

I'll create a PR so you can take a look.

[2015-03-14 14:45] StelianMorariu opened #117 "Project structure"
This is an amazing project that solves many of my problems and I want to help  get it to the next level. Unfortunately, for a new comer that is not familiar with the project, the repository looks a little scary  and it's kind of hard to get the status of the project and where it's currently going.

The following proposition is based on my personal experience and style of working and I do not claim

[2015-03-14 16:43] L-Henke commented on #117
I joined the project last fall and I didn't find it too unintuitive, but I also needed a couple of weeks to fully understand everything. (But that applies to almost every software project). There are some workarounds in the app which might have be introduced due to the usage of android annotations, which has just been coded out. I have focused the last couple of month on improving the current code

[2015-03-14 20:25] Graveen commented on #115
Honestly if we go from 10 to 11 let's directly target API 15 (ICS). At least it'll clearly show what target is aimed.

I can't believe devices running less than API15 are able to decrypt a single image with 512Mb RAM :) <jk, i have not tested>

[2015-03-14 21:26] StelianMorariu commented on #117
Sure, I could create something more concrete to help you understand what I imagined. I would have liked to include the PRs that  have bug fixes because what I'm proposing is a huge  refactoring.

[2015-03-15 04:14] Doplgangr commented on #112
A quick gut-instinct of implementing a function like this comes to me as using the file timestamp.

Currently the encrypted files are rarely rewritten, so I suspect that we can use the file timestamp of the file header with
[code]
and sort it with the value returned.

Of course, it must be useful to include the file creation date in the file header at some point, but a current workaround should be

[2015-03-15 04:18] Doplgangr commented on #117
A refactoring would be most welcome, since my project started with quite a mess with things fixed here and there, and as a nice Open Source project we should most probably follow conventions.

[2015-03-15 19:40] L-Henke commented on #115
closed by #116

[2015-03-15 19:40] #115 closed

[2015-03-17 19:02] laura-almieda opened #118 "Secrecy or Vault should close on screen locking"
Case 1 :
At the Secrecy main activity (Vault selection screen) screen locking (click on device power button hardware key and again unlocking the device) does not do anything.

Case 2 :
Inside the vault, Screen locking and unlocking will returns the app to the Main Activity.

Case 3 :
Inside the vault while viewing an image, Screen locking and unlocking does not do anything.
After unlocking the pho

[2015-03-17 19:45] L-Henke commented on #118
#119 fixed number 3.
We'll think about a way to exit the app instead of returning to the vault list.

[2015-03-17 22:06] StelianMorariu commented on #118
"Case 2 :
Inside the vault, Screen locking and unlocking will returns the app to the Main Activity."

 Considering case 3, viewing encrypted content after screen unlock is not ok - because a vault is basically a collection of encrypted files I would think the app is doing the right thing (returning to the Main activity).

My opinion is that 1&2 are not bugs. Closing the app on screen lock would be

[2015-03-18 07:07] L-Henke commented on #118
@StelianMorariu good point. Only directly closing the app when in stealth mode sounds very reasonable.

[2015-03-18 10:45] Doplgangr commented on #118
Sorry for accidentally closing this.

stealth mode hide still needs another PR to be implemented.

[2015-03-18 12:06] L-Henke commented on #92
I can now reproduce the bug:
When I add a file to the vault I can dismiss the notification. As soon as I lock my screen while the notification is shown, I cant dismiss it anymore.

[2015-03-18 13:16] StelianMorariu commented on #117
Closed by #120

[2015-03-18 13:16] #117 closed

[2015-03-18 13:17] StelianMorariu commented on #92
Don't you consider the notifications a little intrusive ?

[2015-03-18 13:20] StelianMorariu opened #122 "Recover Vault Password Feature"
I was checking out the app page from the Google Play Store and I saw that there are many users complaining that they forgot their password.

One possible solution would be to send the user an email with the vault name and password.

[2015-03-18 13:23] L-Henke commented on #122
What? The files are encrypted with the password. There is no possible way to recover a password without breaking the encryption. Only solution would be to make it more clear to the users, that if they lose their password, they will lose their data forever.

[2015-03-18 13:23] #122 closed

[2015-03-18 13:25] L-Henke commented on #92
These are (currently) necessary, because the file import has to continue even when the app is not shown. And there would be no other way to see the progress. A batch import of more files can take a long time, and runs in background. What other way would there be to see the progress? Suggestions?

[2015-03-18 13:46] StelianMorariu commented on #122
I think there was a misunderstanding here,

One possible solution would be to send the user an email with the vault name and password **when they first create a vault**.

[2015-03-18 13:51] L-Henke commented on #122
Also not acceptable, because first we don't have and want the Internet permission and we would send their secret encryption password **unencrypted** around the world. If people want to encrypt files, they have to know that once the password is lost, only a brute force on the password can get their files back...

[2015-03-18 13:57] StelianMorariu commented on #122
Valid points.

[2015-03-18 14:18] Graveen commented on #122
Agree. Let's not focus on the way user manage his personal datas, because any helpers/workaround will only weaken the process (and generally solves nothing because most of the moaners won't fill an email / also lost their accounts / etc).
I agree with an explicit BIG warning, and so on :)

[2015-03-18 14:36] L-Henke commented on #122
@StelianMorariu nevertheless, thanks for the ideas. All input is useful. :+1:

[2015-03-19 03:08] IngCr3at1on opened #126 "Rotating screen exits settings"
Rotating the screen while in the settings menu forces the user to return to the vault list.

[2015-03-19 08:26] L-Henke opened #128 "Rotating screen in premium fragment chashed app"
A NPE happens here: https://github.com/SecrecySupportTeam/secrecy/blob/master/app/src/main/java/com/doplgangr/secrecy/fragments/PremiumFragment.java#L158

[2015-03-20 17:09] StelianMorariu commented on #92
I can't reproduce this. Also testing on Nexus 5 with CM 12.

[2015-03-20 17:37] StelianMorariu commented on #126
Tested rotation on settings screen. Looks good :+1:

[2015-03-20 18:33] laura-almieda commented on #126
I can produce the same bug on CM12

[2015-03-20 18:35] StelianMorariu commented on #126
@laura-almieda it has not been merged on the master branch yet.

[2015-03-21 10:10] Doplgangr commented on #112
Closed by #131

[2015-03-21 10:10] #112 closed

[2015-04-07 18:22] lenisko opened #135 "Hide buttons in view mode"
Just one simply thing is missing, auto-hide on-screen buttons when entering view mode. They are annoying.

[2015-04-07 18:45] L-Henke commented on #135
One of the things you don't notice with hardware buttons. Implemented with #136

[2015-04-09 08:42] lenisko commented on #135
That's why I'm here :smile:
btw, how often do you compile new application? or there is somewhere any info page how should I compile it myself?

[2015-04-09 09:03] L-Henke commented on #135
We recently had some major redesigns in out code and are still optimizing things. I guess we currently don't dare to push an updated version into the play store, because not everything has been testes perfectly. But I think we should start to put new versions to GitHub more often, because then advanced users might try them out.

Providing build instructions even for non-developers sounds like a go

[2015-04-09 09:07] lenisko commented on #135
Great, I'm willing to test it.
Good luck guys

[2015-05-21 10:29] #135 closed

[2015-05-27 06:25] #94 closed

[2015-06-06 12:54] vixsomnis opened #139 "Intent filter responds to all mime-types, can't handle all types"
For instance, "sharing" a URL from a web browser or raw text to secrecy isn't handled correctly. It neither fails nor adds a file to the vault.

Another example is sharing a contact. If one shares a contact with secrecy and adds it to the vault, the "Adding files" notification will not complete, possibly since secrecy can't remove the contact file.

Is there a graceful way to show an error to the

[2015-06-16 00:18] vixsomnis commented on #139
I think this is actually a bug? You can share anything at all with secrecy, but secrecy can't actually store it.

[2015-06-16 02:11] Doplgangr commented on #139
You've got a point there.

[2015-06-16 15:44] vixsomnis commented on #139
I think the '*/*' filter is still necessary, it's just how the file is handled if secrecy doesn't understand it. It just needs to cleanly fail (a visible error). I checked it with a URL shared from a browser and it didn't store any garbage files, so I think all that is needed is the error/warning ("Secrecy could not add your file!").

[2015-06-18 01:56] Darklightning167 opened #143 "Android M"
secrecy stuck at adding to vault on Android M

[2015-06-22 16:25] vixsomnis opened #144 "Coding style and organization"
Style isn't consistent in the source. It's not a major issue, but I'd like some written rules for hacking on the codebase.

It doesn't matter what the rules are, just that there are some. I think clarity and organization are good traits for security and crypto.

[2015-06-22 17:32] L-Henke commented on #144
80 chars is 1980 style and why annoying spaces instead of tabs?

[2015-06-22 17:33] L-Henke commented on #144
But of course we need to define a style guide, or maybe even provide a template for Android Studio.

[2015-06-22 17:36] vixsomnis commented on #144
Like I said, I can do whatever. I prefer 80 since it forces me to to write clearer code, but 100 or 120 is fine too. Don't really have a preference for tabs/spaces.

I don't use android studio, so we should probably have a CONTRIBUTING file as well.

[2015-06-22 17:40] L-Henke commented on #144
I would vote for 100 or 120 chars and tabs instead of spaces. But there are a lot more things that can be defined. e.g. the order of android lifecycle methods like onCreate and similar methods which should be on top of a file, ...
Maybe we should just use this issue to collect proposals and then create a contributing file from it.

[2015-06-22 17:43] vixsomnis commented on #144
100-char and tabs sounds good. I think we should default to the [AOSP guidelines](https://source.android.com/source/code-style.html) when we don't have anything specified.

[2015-06-24 16:46] vixsomnis commented on #10
Instead of an internal one, maybe we can make the secrecy content provider open to other apps? It could be similar to how the Dropbox app on Android works.

[2015-06-24 16:50] vixsomnis opened #146 "Original files deleted after import without warning"
I think we should show a dialog for this. Someone might import a file, then delete the vault, and not realize they just erased their file.

Perhaps after import the user should be asked whether they want to delete the original?

[2015-06-24 19:16] Darklightning167 commented on #143
I managed to create a debug log via android studio
http://pastebin.com/y0NXsWtc

[2015-06-24 20:34] L-Henke commented on #143
Line 57-58 state that protobuf cannot deserialize the vault header. Either your vault header is broken and this can be 'fixed' by creating a new vault, or the storage layer in Android M has changed again and Secrecy just can't access that file. The storage layer will be rebuild, but I honestly don't think that will happen too soon.

[2015-06-24 21:06] Darklightning167 commented on #143
This happened when creating a vault so it's probably the storage layer changes in Android M

[2015-06-24 21:10] L-Henke commented on #143
I guess in that case we can only start to adapt to these changes when the API is stable and documented.

[2015-06-24 21:14] L-Henke commented on #146
:+1:

[2015-06-24 21:17] L-Henke commented on #143
Have you used secrecy before updating to Android M? Otherwise it would be interesting if the SECRECYFILES folder is created, because nothing in the log files shows signs of an error. Which could mean that the folder is already created, or an error when creating that folder is not logged.

[2015-06-24 22:40] vixsomnis commented on #146
I'll dig through the import code and find out where the files get deleted... To be continued.

[2015-06-24 22:41] Graveen commented on #146
agree !

[2015-06-24 22:55] L-Henke commented on #146
The AddFileJob starts the purging progress which first overwrites the file and then deletes it. https://github.com/SecrecySupportTeam/secrecy/blob/master/app/src/main/java/com/doplgangr/secrecy/jobs/AddFileJob.java#L51

We had a discussion about the overwriting of files in https://github.com/SecrecySupportTeam/secrecy/pull/133 if you care.

[2015-06-24 23:09] vixsomnis commented on #146
I'll just try to put the dialog in there first. Then, maybe options to "just delete" and "attempt to purge". I think it's still useful to have the purging -- it just shouldn't happen by default.

[2015-06-24 23:18] L-Henke commented on #146
I thing stating that files are purged just gives user a false security promise and thus is simply wrong. Telling them that it is tried to purge sound very weird to a user.. "Why is it just tried" etc. but thats not the point here.

In general we shouldn't add too much new features at the moment, instead we should focus on improving the code and fix open bugs. Also our support of the current androi

[2015-06-24 23:55] Darklightning167 commented on #143
Yes but it was a clean install of Android M but the SECRECYFILES folder is still created after opening the app for the first time

[2015-06-25 03:30] vixsomnis commented on #146
Deleting files without alerting the user is a pretty serious problem (worse than weird). I ended up nearly losing some files this way, but luckily I had a backup (and I didn't need encryption in the first place).

For the most part, I want to fix the things that annoy me, but I can take a look at other parts. I don't see any issues open for what you mentioned ([this?](http://developer.samsung.com/

[2015-06-25 14:19] Doplgangr commented on #146
@vixsomnis That's related to the external SDcard support we have been working on. The problem with Samsung is its inconsistent handling of external SD mountpoint, plus the lack of centralized API for storage which does not appear until KITKAT (Storage Access Framework)

What @L-Henke is stating is that we have just introduced storage access framework into our project which is quite immature, we st

[2015-06-26 01:12] vixsomnis commented on #146
@L-Henke, send me some details (email in commit log) or post some more issues, and I'll see if I can do anything about them.

[2015-07-11 19:11] jmoses opened #147 "Sortable file list"
It would be great if I could sort the file list by filename, not just by "order added to vault".

[2015-07-12 21:19] L-Henke commented on #147
That is actually possible in the master, but this changes aren't in the play store version yet.

[2015-08-17 19:44] Darklightning167 commented on #143
Hey guys just a heads up secrecy seems to be working normally again I'm preview 3

[2016-07-26 19:34] hayaksu opened #148 "Return the dercrypted file to its direcroty +Delet file permanently"
Dears,
Thank you for developing this great app.

I have a set of suggested enhancements:
1- You provide the option of file decryption, and then it will be saved in the SD card. Why not to return it back to its original directory ? so the user can find it directly.
2- In case of deleting a file, how to ensure that it is deleted permanently? Can we erase the RAM for example after exiting the app.

T

[2016-09-16 02:18] alete89 opened #149 "Any way to decrypt files encrypted by secrecy in windows/linux?"
Pretty much self-explanatory. Is there a way?
Thanks.

[2017-01-05 03:16] nicogarcia commented on #149
+1 :+1:

[2017-01-09 01:40] siddharthist commented on #149
I've tried to copy the files onto my PC and run
[code]
but haven't had any luck yet. Not sure whether or not CBC/CTR/ECB is the default: https://github.com/SecrecySupportTeam/secrecy/tree/4415e56394d01475ae396a38175176636df57813/app/src/main/java/com/doplgangr/secrecy/filesystem/encryption

[2017-01-09 02:13] siddharthist opened #150 "Export encrypted files to openssl compatible format"
I'd like to be able to export my files to an industry standard encrypted file format so that I can be sure that my data is safe and always retrievable.

If this issue is resolved, I'll post a bounty for automatic Dropbox sync.

Related to #149.

[2017-01-09 02:27] siddharthist commented on #150
I just posted a $10 bounty on this bug: https://www.bountysource.com/issues/40751368-export-encrypted-files-to-openssl-compatible-format

[2017-08-01 01:27] mtris opened #152 "Secrecy app/apk for Android"
Hello I recently came across your app and quickly became a fan.  My question is:  Would you be able to point me in the direction of where I could learn about working on apps,etc.? I figure this would be the best place to ask since ideally I would like to contribute.  Thank you in advance, and thank you for creating a great utility.  Sincerely,

[2017-08-01 07:41] Graveen commented on #152
hi, you can download the code and use Android Studio to understand it / update it.

[2017-08-01 19:47] mtris commented on #152
Thanks for the tip I'm going to download it now.

[2017-09-20 08:33] mtris opened #153 "How to add an external SD card to the browser directory"
Dear Secrecy team:  How do I add my external SD card to the Vault Management directory so I can move all my vaults to the external SD?  Please advise.  Thank you.

Sincerely,

![20170920043001](https://user-images.githubusercontent.com/24400330/30634347-d01deafc-9dbc-11e7-95ae-6948f1108559.png)

[2017-09-25 12:19] minusdavid commented on #153
I'm having the same issue on Android 6.0.1 on a Samsung S5. While I have an external SD card, I can't access it from the app. Not even when I try to "Move all vaults".

I double-checked the permissions against apps that can access the external SD card and they seem comparable. I also notice the app was last updated Nov 19 2014 which means it theoretically should handle the permission changes broug

[2017-09-25 12:21] minusdavid commented on #149
I'm very much interested in this goal as well.

After browsing the code, it looks like the salt and other encryption details are stored in the .vault file. I imagine the password hash is also stored there but I haven't had time to verify yet. But at a glance it seems like the details in .vault should be

[2017-09-25 12:25] minusdavid commented on #149
Enough to get a person the key for decryption.

I've only looked at the source for a few minutes today so not sure if each file has its own encryption key (like Facebook's f4 object storage) or if all files use the same encryption key. I think it might be the latter but just haven't had the time.

I'm hoping to find some time to try to make a little Java utility that can unlock a Secrecy vault, an

[2017-09-25 12:27] minusdavid commented on #149
I'd love to add some unit tests to this codebase too. That would make this type of task way easier
...

[2017-09-25 12:32] minusdavid commented on #153
Looks like this might be a known old issue...

https://github.com/SecrecySupportTeam/secrecy/pull/138

The project looks like it's been abandoned but I wonder if that's true...

[2017-09-28 14:21] minusdavid commented on #149
At a glance, it seems like .vault might be encrypted, but according to the source it looks like it's actually just a serialized data structure using Google Protocol Buffers.

So sometime soon I'll look at examining the .vault header on a desktop and see if I can decrypt files in a vault from there...

[2017-09-28 14:23] minusdavid commented on #149
https://developers.google.com/protocol-buffers/docs/reference/other

[2017-09-28 14:24] minusdavid commented on #149
Btw, it looks like the salt is in the .vault header so that should get us that bit closer.

Notwithstanding the bug with not being able to access the external sd card, interoperability with other operating systems is my only other wishlist item really...

[2017-09-28 22:28] minusdavid commented on #149
Here's the protocol buffer definition to use with the protocol buffer compiler for the desired lang:

https://github.com/SecrecySupportTeam/secrecy/blob/master/app/src/main/java/SecrecyHeaders.proto

[2017-09-29 00:49] minusdavid commented on #149
Using the Python tutorial for Protocol Buffers (https://developers.google.com/protocol-buffers/docs/pythontutorial), I've been able to access the salt, the vault initialisation vector, the pbkdf2iterations, and encrypted aes key, which are all stored in .vault. I'm working on Ubuntu on Windows (on Windows 10). So that's cool.

It looks like each file header also contains an initialisation vector f

[2017-09-29 01:56] minusdavid commented on #149
Starting to think it might not be worth doing this in Python (at least to start) and that it would be smarter just to use Java to start off with...

[2017-09-29 04:37] minusdavid commented on #149
I'm glad that I switched to Java from Python. Trying to find equivalent crypto functions in Python was a nightmare. Most of the Java classes are part of the standard library, so it's easy enough to replicate the functionality from the Android app. The only difference is that you need to install BouncyCastle on your system, since it's already baked into Android. But it's available in the Ubuntu 14.

[2017-09-29 04:57] minusdavid commented on #149
I have written a little Java tool which can decrypt files from an encrypted Secrecy backup. I have verified it by adding a file to Secrecy on an Android phone, taking a backup on the Android phone (ie zipping the files), and then copying that backup over to a desktop. On the desktop, I run the Java tool using some command line arguments, and it successfully decrypts the chosen file and saves it to

[2017-09-29 09:05] Graveen commented on #149
Very interesting. Kudos !

[2017-09-30 10:17] minusdavid commented on #149
Cheers, @Graveen! I notice that you pushed a commit a while ago in 2017. Are you maintaining the project?

Looks like Google Play has version 0.5.3 from 19 Nov 2014, but I only see master, 0.5.0, and 0.6.0 here for branches/tags. I'm curious why Google Play hasn't been updated. I haven't looked at fdroid yet to see its version.

I'm hoping to contribute to the project over time. Is it still active

[2017-09-30 18:37] Graveen commented on #149
I can't publish to the original Secrecy account. Perhaps @Doplgangr could release from time to time ?
I'm not maintaining actively this project, but i'd be glad to push bugfixes / improvements.
Anyhow i like to see activities around Secrecy because it is a nice software to use.

[2017-10-04 00:20] minusdavid commented on #149
@Graveen,  I notice that @Doplgangr is still active on Github, so maybe he could do Google Play releases from time to time or transfer ownership of the app (eg https://support.google.com/googleplay/android-developer/answer/6230247?hl=en) to someone else?

@Graveen, who all has push access to this repository? I'm wondering how many other lurkers there might be ;).

[2017-10-04 00:24] minusdavid commented on #149
I have a few improvements in mind, although I haven't had time to work on them yet, but thanks for being willing to push them, @Graveen!

First, I'm thinking of splitting out some of the crypto modules into libraries, so that I could use them for the standalone Java tool I made. While my tool works, it's fragile since it doesn't depend on the same modules as Secrecy.

I'm not sure how best to spli

[2017-10-13 01:30] minusdavid commented on #149
I finally got around to installing Android Studio.

I forked this repo and checked it out from Github using Android Studio's Github integration. Worked rather nicely. I had to install some older packages (since my Android Studio was only set up for API levels 25 and 26), and Android Studio updated some of the Gradle details, which I've now committed locally... and now I can build the app!

I think

[2017-10-13 07:11] Graveen commented on #149
Let's wait a bit to see if @Doplgangr is interested to publish updates. In the other case, if some changes are pushed, i think we should publish it to play store on our own.

[2017-10-14 20:36] TheKinrar commented on #149
Just made a little tool to decrypt Secrecy encrypted files on a computer.

If this interest some people (I suppose it's the case?) I'll probably make a GUI and improve CLI and publish it on GitHub.

[2017-10-15 05:40] minusdavid commented on #149
Sounds good to me, @TheKinrar. I made a CLI tool as well but not happy with it yet, so if you keep working on your CLI tool and a GUI tool, that would be awesome. I'm time poor, but happy to test it out when I can : ).

[2017-10-15 07:57] TheKinrar commented on #149
Here is the one I made yesterday. That was because of a personal need to decrypt a lot of files from different vaults. So it could be way better, however it works. ;)
I'll improve it but if anyone needs it right now: https://i.thekinrar.fr/secrecy-decryptor/secrecy-decryptor-20171015.jar

It takes the SECRECYFILES folder as a parameter, will ask for the passwords interactively and will output file

[2017-11-09 18:42] alete89 commented on #149
@minusdavid did you update the version of gradle in build.gradle file? which one did you use?

[2017-12-24 05:23] Doplgangr opened #154 "Project ownership, team members, and future path"
@minusdavid @alete89 @Graveen @TheKinrar @siddharthist @nicogarcia @mtris

# Synopsis
This is an attempt to redirect all the discussion related to aforementioned issue on this project to this issue.
Please kindly help with including anyone you know who will be interested to/ who are actively maintaining this project.

[2017-12-24 05:46] Doplgangr commented on #154
## Past
I started this project just wishing to create something I would want to use. A privacy conscious app that could be open source, examined and challeneged by competitors, and take pride in the absolute peace of mind it would give to the users.
I did not expect this project to expand and receive this much attention. Really - the number of developers interested is far beyond my expectations.

[2018-01-04 13:21] minusdavid commented on #154
Thanks for this, @Doplgangr!

Unfortunately, I don't have much free time these days, but when I do have free time, I would like to work on this app.

My interests are mostly in a command line client (I've already done one but it involved copying code so I rather refactor the current code so that the libraries can be shared outside the mobile app) and adding tags/categories to vaults to help with o

[2018-01-04 13:28] minusdavid commented on #149
@alete89 it's been a while now since I looked at it so I don't know which version but I think I updated it to whatever version Android Studio thought it should be

[2018-01-04 22:29] TheKinrar commented on #154
I don't have a lot of time to spend on Secrecy but I have enough to help verifying contributions as @minusdavid said - and write some of them.

On https://github.com/tootsuite/mastodon (I'm quite involved with this project) we have some reviewers and one perso (Gargron) who accepts the PRs and merges them, but I don't think this is really applicable to smaller commnities as it would just slow down

[2018-03-19 09:25] cdancette opened #155 "Take pictures directly inside the app"
Hi, thanks for your work and this amazing app !

I'm using secrecy to store some personal documents and I wondered how hard it would be to add a photo action that would take a picture and store it directly into a vault ? It would be faster, and more secure, since the picture would never be unencrypted on the android device before being sent in the vault.

I could also help on this feature if someo

[2018-05-08 09:58] thiswillbeyourgithub commented on #149
Can anyone tell me how far this decryptor project is right now ? I would love to use secrecy+syncthing to backup encrypted files to my computer but I'm stuck with "S.S.E encryption" which does the work but is not open source (as well as being ugly) :/

[2018-09-22 21:08] nithinmurali opened #156 "Not available in Google play?"
The given play-store link is not working for google play. Also i couldn't find it even after searching. Did you took the app down ? or did Google?

[2018-09-23 07:55] Graveen commented on #156
Good question. @matthewkwan  perhaps you have more informations ? TY

[2020-04-17 07:27] vik-y commented on #156
Any update on this? Was the app taken down by developers or Google?